*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
    height: 75px;
    padding: 10px 0;
}

.container{
    max-width: 1200px;
}

.row{
    width: 100%;
    display: flex;
}

.col15{
    width: 15%;
    
}

.col70{
    width: 70%;
    
}

.bordercolumn{
    border: 1px dashed black;
}

.height50{
    height: 50px;
}

.bgorange{
    background-color: orange;
}

main{
    padding: 20px 0;
}

.container-sm{
    max-width: 991px;
}

.margincontainer{
    margin:  0 auto;
}

.col100{
    width: 100%;
}

.height300{
    height: 300px;
}

.bgpurple{
    background-color: purple;
}

footer{
    background-color: darkgray;
    padding: 20px 0;
}

hr{
    background-color: gray;
    margin: 10px 0;
}

.bgacquamarine{
    background-color: cyan;
}

.bordercolumnwhite{
    border: 1px dashed white;
}

.col40{
    width: 40%;
}

.col60{
    width: 60%;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side{
    padding: 10px;
}

.padding-y-10{
    padding: 10px 0;
}

.padding-y-30{
    padding: 10px 0;
}

.bgblue{
    background-color: darkblue;
    padding: 20px 0;
}

.margin-y-30{
    margin: 30px 0;
}

.bggray{
    background-color: lightgray;
}

.height500{
    height: 500px;
}

.bggreen{
    background-color: green;
}